html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Gentium Book Basic', serif;
  font-size: 16px;
  }

/*** layout ***/
#wrapper {
  position: absolute;
  padding: 100px 0 60px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EDEDED;
  }

header {
  margin-top: -100px;
  z-index: -1;
  height: 100px;
  background: url('/images/header_bg.jpg') #EDEDED;
  background-size: 100% 100%;
  }

#content {
  position: relative;
  padding: 10px 50px;
  z-index: 1;
  min-height: 100%;
  background-color: #EDEDED;
  }

footer {
  margin-bottom: -60px;
  padding: 10px 50px;
  z-index: -1;
  height: 60px;
  background: url('/images/footer_bg.jpg') #EDEDED;
  background-size: 100% 100%;
  color: white;
  }

/*** top menu ***/
header #title {
  position: fixed;
  top: 20px;
  left: 50px;
  font-family: 'Nova Script', cursive;
  font-size: 3em;
  color: white;
  }

header #title .sub {
  font-size: 0.5em;
}

header .right {
  position: fixed;
  top: 50px;
  right: 50px;
}

header .right ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header .right li {
  display: inline-block;
  width: 50px;
  }

header .right li a {
  font-size: 1.2em;
  color: white;
  }

/*** style ***/
a:link { color:#808080; text-decoration: none; }
a:visited { color:#808080; text-decoration: none; }
a:hover { color:#A0A0A0; text-decoration: none; }
a:active { color:#808080; text-decoration: none; }

#profile-picture {
  width: 100px;
  }
