html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Gentium Book Basic', serif;
  font-size: 16px;
  }

/*** layout ***/
header {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100px;
  top: 0;
  background: url('/images/header_bg.jpg');
  background-size: 100% 100%;
  background-color: gray;
  }

footer {
  position: fixed;
  z-index: -1;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 60px;
  bottom: 0;
  background: url('/images/footer_bg.jpg');
  background-size: 100% 100%;
  background-color: gray;
  color: white;
  }

footer p {
  margin: 10px 0;
}

.content {
  position: relative;
  padding: 10px 50px;
  z-index: 1;
  min-height: 500px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background: white;
  }

.wrapper-parallax {
  margin-top: 100px;
  margin-bottom: 60px;
  }

/*** top menu ***/
header #title {
  position: fixed;
  top: 15px;
  left: 50px;
  font-family: 'Nova Script', cursive;
  font-size: 3em;
  color: white;
  }

header #title .sub {
  font-size: 0.5em;
}

header .right {
  position: fixed;
  top: 50px;
  right: 50px;
}

header .right ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header .right li {
  display: inline-block;
  width: 50px;
  }

header .right li a {
  font-size: 1.2em;
  color: white;
  }

/*** style ***/
a:link { color:#808080; text-decoration: none; }
a:visited { color:#808080; text-decoration: none; }
a:hover { color:#A0A0A0; text-decoration: none; }
a:active { color:#808080; text-decoration: none; }

#profile-picture {
  width: 100px;
  }
