<!DOCTYPE HTML>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/stylesheets/semantic.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{site.url}}/stylesheets/app.css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nova+Script' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Alex Au</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div id="title">
          <a href="/" ><img id="profile-picture" class="ui avatar image" src="{{site.url}}/images/profile.jpg" alt="This is Alex :)"/></a>
          Alex Au
          <span class="sub">a developer</span>
        </div>
        <div class="right">
          <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </header>
      <div id="content">
        {{content}}
      </div>
      <footer>
        All right reserved
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/javascripts/semantic.min.js"></script>
  </body>
</html>
