<!DOCTYPE HTML>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/semantic.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css" media="screen" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Alex Au</title>
  </head>
  <body>
    <div class="ui button">Follow</div>
    <i class="browser icon"></i>
    {{content}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/semantic.min.js"></script>
  </body>
</html>
